<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.phonegap.plugins.childbrowser"
    version="4.2.1">

    <name>Child Browser</name>

    <description>
        Provides lightweight browser window for viewing pages external to the host application,
        along with the ability to easily return to the application.
    </description>

    <engines>
        <engine name="cordova" version=">=2.0.0" />
    </engines>    

    <asset src="www/childbrowser.js" target="childbrowser.js" />
    <asset src="www/childbrowser" target="childbrowser" />

    <!-- android -->
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="com.phonegap.plugins.childBrowser.ChildBrowser"
                      android:label="@string/app_name">
                <intent-filter>
                </intent-filter>
            </activity>
        </config-file>

        <!-- Cordova 1.5 - 1.9 -->
        <config-file target="res/xml/plugins.xml" parent="/plugins">
            <plugin name="ChildBrowser"
                value="com.phonegap.plugins.childBrowser.ChildBrowser"/>
        </config-file>

        <!-- Cordova >= 2.0.0 -->
        <config-file target="res/xml/config.xml" parent="plugins">
            <plugin name="ChildBrowser"
                value="com.phonegap.plugins.childBrowser.ChildBrowser"/>
        </config-file>

        <source-file src="src/android/com/phonegap/plugins/childBrowser/ChildBrowser.java" target-dir="src/com/phonegap/plugins/childBrowser"/>
    </platform>
    <!-- ios -->
    <platform name="ios">
        <!-- Cordova < 2.3 -->
        <plugins-plist key="ChildBrowser" string="ChildBrowserCommand" />

        <!-- Cordova >= 2.3 -->
        <config-file target="config.xml" parent="plugins">
            <plugin name="ChildBrowser" value="ChildBrowserCommand"/>
        </config-file>

        <resource-file src="src/ios/ChildBrowser.bundle" />
        <resource-file src="src/ios/ChildBrowserViewController.xib" />

        <header-file src="src/ios/ChildBrowserCommand.h" />
        <header-file src="src/ios/ChildBrowserViewController.h" />

        <source-file src="src/ios/ChildBrowserCommand.m" />
        <source-file src="src/ios/ChildBrowserViewController.m" />
    </platform>

    <license>
        Copyright (c) 2012 Adobe Software Inc.

        Permission is hereby granted, free of charge, to any person obtaining a copy
        of this software and associated documentation files (the "Software"), to deal
        in the Software without restriction, including without limitation the rights
        to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
        copies of the Software, and to permit persons to whom the Software is
        furnished to do so, subject to the following conditions:

        The above copyright notice and this permission notice shall be included in
        all copies or substantial portions of the Software.

        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
        IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
        FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
        AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
        LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
        OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
        THE SOFTWARE.
    </license>
</plugin>
